<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" >
        <div class="carousel-inner">
            <div>
                <img class="w-100" src="assets/s1.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" >
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tours & Travel</h4>
                        <h1 class="display-3 text-white mb-md-4">Let's Discover The World Together</h1>
                        
                    </div>
                </div>
           </div>            
        </div>      
    </div>
</div>
<!-- Carousel End -->
