<h1>hola</h1>
<!-- <div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" [src]="Superheroe.imagen" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                    <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                    <p>Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit
                        sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat
                        sed diam duo</p>
                    <div class="row mb-4">
                        <div class="col-6">

                        </div>
                        <a href="" class="btn btn-primary mt-1">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary" data-bs-toggle="modal"  data-bs-target="#exampleModal1">Modificar</button>

        <button mat-flat-button color="warn" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button>
    </div> -->


    <!-- ====================================================================================================================== -->


    <!-- Modal Eliminar-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmaión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Está seguro que desea eliminar al SuperHeroe:</h3>
                    <h2>{{Superheroe.superheroe}}. {{Superheroe.id}}</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <div class="example-button-container">
                        <button mat-flat-button color="warn" (click)="eliminar()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Modificar-->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar SuperHeroe</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <br>
                        <div class="text-center mb-3 pb-3">
                            <h1>{{titulo}}</h1>
                            <br>
                            <form [formGroup]="formSH">
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="SuperHeroe" aria-describedby="basic-addon1"
                                        formControlName="superheroe">
                                    <div class="alert alert-danger mt-2" [hidden]="nombre.valid || nombre.pristine">
                                        El nombre del SuperHeroe es obligarorio
                                    </div>
                                </div>
                    
                                <div class=" mb-3">
                                    <input type="text" id="fileInput" class="form-control" placeholder="imagen" formControlName="imagen">
                                    <div class="alert alert-danger mt-2" [hidden]="Imagen.valid || Imagen.pristine">
                                        El la imagen es obligaroria
                                    </div>
                                </div>
                    
                                <div class=" mb-3">
                                    <input type="text" class="form-control" placeholder="Marvel Comics ó DC Comics" formControlName="editor"
                                        aria-describedby="basic-addon1">
                                    <div class="alert alert-danger mt-2" [hidden]="Editor.valid || Editor.pristine">
                                        Debe especificar Marvel Comics ó DC Comics
                                    </div>
                                </div>
                    
                                <div class=" mb-3">
                                    <input type="text" class="form-control" placeholder="actor principal" aria-describedby="basic-addon1"
                                        formControlName="actorprincipal">
                                    <div class="alert alert-danger mt-2" [hidden]="actorprincipal.valid || actorprincipal.pristine">
                                        El actor es obligatorio
                                    </div>
                                </div>
                    
                                <div class=" mb-3">
                                    <input type="text" class="form-control" placeholder="temática" aria-describedby="basic-addon1"
                                        formControlName="tematica">
                                    <div class="alert alert-danger mt-2" [hidden]="Tematica.valid || Tematica.pristine">
                                        La temática es obligatoria
                                    </div>
                                </div>
                                <div class=" mb-3">
                                    <input type="text" class="form-control" placeholder="personajes" aria-describedby="basic-addon1">
                                </div>
                            </form>
                        </div>
                        <div class="example-button-container">
                            <button mat-raised-button color="accent" 
                                 [disabled]="formSH.invalid" >Modificar</button>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" color="primary"
                        data-bs-dismiss="modal">Cancelar</button>
                    <div class="example-button-container">
                        <button mat-flat-button color="warn" >Modificar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>