<div class="container">
    <div class="text-center mb-3 pb-3">
        <form [formGroup]="formSH">
            <div class="mb-3">
                <label> Nombre del SuperHeroe</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1" formControlName="superheroe">
                <!-- <div class="alert alert-danger mt-2" [hidden]="superheroe.valid || superheroe.pristine">
                    El nombre del SuperHeroe es obligarorio
                </div> -->
            </div>

            <div class=" mb-3">
                <label> Imagen</label>
                <input type="file" id="fileInput" class="form-control"  formControlName="imagen" >
                <!-- <div class="alert alert-danger mt-2" [hidden]="imagen.valid || imagen.pristine">
                    El la imagen es obligaroria
                </div> -->
            </div>

            <div class=" mb-3">
                <label> Edito</label>
                <input type="text" class="form-control"  formControlName="editor"
                    aria-describedby="basic-addon1">
                <!-- <div class="alert alert-danger mt-2" [hidden]="editor.valid || editor.pristine">
                    Debe especificar Marvel Comics ó DC Comics
                </div> -->
            </div>

            <div class=" mb-3">
                <label> Actor principal</label>
                <input type="text" class="form-control" aria-describedby="basic-addon1" 
                    formControlName="actorprincipal">
                <!-- <div class="alert alert-danger mt-2" [hidden]="actorprincipal.valid || actorprincipal.pristine">
                    El actor es obligatorio
                </div> -->
            </div>

            <div class=" mb-3">
                <label> Temática</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon1" 
                    formControlName="tematica">
                <!-- <div class="alert alert-danger mt-2" [hidden]="tematica.valid || tematica.pristine">
                    La temática es obligatoria
                </div> -->
            </div>
            <div class=" mb-3">
                <label> Personajes</label>
                <input type="text" class="form-control"  aria-describedby="basic-addon1" formControlName="personajes">
            </div>
        </form>
       
        <button mat-flat-button color="primary" (click)="actualizarSH()" >Modificar</button>
    </div>
</div>